<br>
## Get In Touch

We are actively seeking to collaborate with, or assist professionals and families in need of our solutions. Whether you need assistance with AI-driven analysis or advice on parental alienation cases, we’re here to help.

We are also interested in finding others who would like to partner with us or assist with sponsoring and fundraising efforts for this important project.

Join the discussion at [Distributed Thinking Systems Discussions](https://github.com/unixwzrd/unixwzrd.github.io/discussions) or use one of the links below.