<header class="site-header">

  {% include custom-head.html %}

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ " /" | relative_url }}">
      <img src="{{  "/assets/images/IMG_1887-cropped-square.JPG" | relative_url }}" alt="Brand Graphic"
        class="brand-graphic">
    </a>
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
    {%- include navigation.html -%}
    {%- endif -%}
  </div>
</header>