### Join Our Mission

Join **Distributed Thinking Systems** in our development, community, support, and outreach efforts.

- [**Collaborative Support**](/collaborate/community): Join the missionn, contribute data, provide expertise, or participate in building AI-driven solutions.
- [**Products and Services**](/collaborate/professionals/): Assistance with AI projects, system architecture, or support for distributed Unix/Linux/macOS computing environments.

Supporting us keeps vital resources available to the community and accessible to those who need them most. **You make a difference by helpingus make a difference.**