
<br>

---

### Join Our Mission

Join **Distributed Thinking Systems** in our development, community, support, and outreach efforts.

- [**Operational Support**](/support/sponsorship):  If you find our resources useful, consider subscribing or making a one-time payment to help maintain and expand our projects. Your support allows us to continue developing valuable tools and innovations.
- [**Collaborative Support**](/support/collaborate): Join the missionn, contribute data, provide expertise, or participate in building AI-driven solutions.
- [**Products and Services**](/support/services): Assistance with AI projects, system architecture, or support for distributed Unix/Linux/macOS computing environments.

Supporting us keeps vital resources available to the community and accessible to those who need them most. **You make a difference by helpingus make a difference.**