{% if page.show_support != false %}
<section class="support-block">
  <hr>
  <h2>Support This Work</h2>
  <p>
    If this project is useful and you want to help support more work like it, you can contribute here:
  </p>
  <ul>
    <li><a href="https://patreon.com/unixwzrd" target="_blank" rel="noopener noreferrer">Patreon</a></li>
    <li><a href="https://ko-fi.com/unixwzrd" target="_blank" rel="noopener noreferrer">Ko-Fi</a></li>
    <li><a href="https://buymeacoffee.com/unixwzrd" target="_blank" rel="noopener noreferrer">Buy Me a Coffee</a></li>
  </ul>
</section>
{% endif %}
