---
layout: default
---

<article class="project">
  <header class="page-heading">
    <h1 class="project-title">{{ page.title }}</h1>
  </header>

  < class="project-content">
    {% assign project = site.data.github_projects.projects | where: "name", page.category | first %}

    {% if project %}
    <table class="project-table">
      <tr>
        <!-- First column: Image -->
        <td class="project-image">
          {% if project.visibility == 'private' %}
          <img class="project-preview" src="{{ project.image_url }}" alt="{{ project.title }} image">
          {% else %}
          <a href="{{ project.repo_url }}" target="_blank" rel="noopener noreferrer">
            <img class="project-preview" src="{{ project.image_url }}" alt="{{ project.title }} image">
          </a>
          {% endif %}
        </td>

        <!-- Second column: Text (Title, Description, GitHub link) -->
        <td class="project-details">
          <h2>
            {% if project.visibility == 'private' %}
            {{ project.title }}
            {% else %}
            <a href="{{ project.repo_url }}" target="_blank" rel="noopener noreferrer">{{ project.title }}</a>
            {% endif %}
          </h2>
          <p>{{ project.description }}</p>

          <!-- Nested row for links: GitHub link only for public projects -->
          <div class="links-row">
            {% if project.visibility != 'private' %}
            <a class="github-link" href="{{ project.repo_url }}" target="_blank" rel="noopener noreferrer">View on
              GitHub</a>
            {% endif %}
          </div>
        </td>
      </tr>
    </table>
    {% endif %}

    <div class="project-description">
      {{ content | markdownify }}
    </div>

    {% include blog_list.html category=page.category heading="" %}

    <div class="project-footer">
      <div class="join-us-section">
        {% capture join_us_content %}{% include join_us.html %}{% endcapture %}
        {{ join_us_content | markdownify }}
      </div>
      <div class="get-in-touch-section">
        {% capture get_in_touch_content %}{% include getintouch.html %}{% endcapture %}
        {{ get_in_touch_content | markdownify }}
      </div>
    </div>
  </div>
</article>