---
layout: page
---

<article class="project">
    <div class="project-content">
        {% assign project = site.data.github_projects.projects | where: "name", page.category | first %}

        {% if project %}
        {% assign project_title = page.title | default: project.title %}
        {% assign project_display_image = project.image_url %}
        <table class="project-table">
            <tr>
                <!-- First column: Image -->
                <td class="project-image">
                    {% if project.visibility == 'private' %}
                    <img class="project-preview" src="{{ project_display_image }}" alt="{{ project_title }} image">
                    {% else %}
                    <a href="/projects/{{ project.name }}/" title="View {{ project_title }} Project Blog">
                        <img class="project-preview" src="{{ project_display_image }}" alt="{{ project_title }} image">
                    </a>
                    {% endif %}
                </td>

                <!-- Second column: Text (Title, Description, GitHub link) -->
                <td class="project-details">
                    <h2>
                        {% if project.visibility == 'private' %}
                        {{ project_title }}
                        {% else %}
                        <a href="/projects/{{ project.name }}/" title="View {{ project_title }} Project Blog">{{
                            project_title }}</a>
                        {% endif %}
                    </h2>
                    <p>{{ project.description }}</p>

                    <!-- Nested row for links: GitHub link only for public projects -->
                    <div class="links-row">
                        {% if project.visibility != 'private' %}
                        <a class="github-link" href="{{ project.repo_url }}" target="_blank"
                            rel="noopener noreferrer">View on GitHub</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
        {% endif %}

        {% include blog_list.html category=page.category heading="" %}

        <div class="project-description">
            {{ content }}
        </div>

    </div>
</article>
