// assets/css/_base.scss



body {
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper-max-width;
  padding: $wrapper-padding;
  padding-left: 5px;
}

// Highlighter Rouge Overrides
.highlighter-rouge {
  .highlight pre {
    background: $code-background;
  }
  pre,
  code {
    background: $code-background;
  }
}

// assets/css/_overrides.scss

  // Header and Site Title
  .header,
  .site-title,
  .site-header {
    color: $text-color !important;
    background: $header-background !important;
  }


  // Highlighter Rouge Overrides (Repeated for Dark Mode)
  .highlighter-rouge {
    .highlight pre {
      background: $code-background;
    }
    pre,
    code {
      background: $code-background;
    }
  }

  // Custom styles for images
  .brand-graphic {
    width: 100px; // Adjust as needed
    height: auto;
    padding: 10px; // Adjust as needed
  }
