// variables.scss

// Color Variables
$primary-color: #00fcbb;
$secondary-color: #66d9ef;
$text-color: #dadada;
$background-color: #040404;
$header-background: #040404;
$link-color: #0000ff;
$border-color: #cacaca;

// Table Colors
$header-color: #000040;
$odd-row-color: adjust-color($header-color, $lightness: -5%);
$even-row-color: adjust-color($header-color, $lightness: 2%);

// Dimensions
$brand-graphic-width: 55px;
$brand-graphic-margin-right: 15px;
$content-width: 900px;  // Removed !default to force override
$wrapper-padding: 10px;

// Font Sizes
$h3-font-size: 1.5rem;
$post-date-font-size: 0.9rem;
$btn-font-size: 0.9rem;
$project-details-h2-font-size: 1.6rem;

// Other Variables
$code-background: #000000;

$lm-brand-color-light: adjust-color($lm-brand-color, $lightness: 40%) !important;
$lm-brand-color-dark: adjust-color($lm-brand-color, $lightness: -25%) !important;
$lm-link-visited-color: adjust-color($lm-link-base-color, $lightness: -15%) !important;
$lm-border-color-02: adjust-color($lm-brand-color, $lightness: 35%) !important;
$lm-table-text-color: adjust-color($lm-text-color, $lightness: 18%) !important;
$lm-table-zebra-color: adjust-color($lm-brand-color, $lightness: 46%) !important;
$lm-table-header-bg-color: adjust-color($lm-brand-color, $lightness: 43%) !important;
$lm-table-header-border: adjust-color($lm-brand-color, $lightness: 37%) !important;
