// variables.scss

// Color Variables
$primary-color: #00fcbb;
$secondary-color: #66d9ef;
$text-color: #cacaca;
$background-color: #141414;
$header-background: #141414;
$link-color: #0000ff;
$border-color: #cacaca;

// Table Colors
$header-color: #000040;
$odd-row-color: color.adjust($header-color, $lightness: -5%);
$even-row-color: color.adjust($header-color, $lightness: 2%);

// Dimensions
$brand-graphic-width: 45px;
$brand-graphic-margin-right: 20px;
$wrapper-max-width: 800px;
$wrapper-padding: 20px;

// Font Sizes
$h3-font-size: 1.5rem;
$post-date-font-size: 0.9rem;
$btn-font-size: 0.9rem;
$project-details-h2-font-size: 1.6rem;

// Other Variables
$code-background: #000000;

$lm-brand-color-light: color.adjust($lm-brand-color, $lightness: 40%) !important;
$lm-brand-color-dark: color.adjust($lm-brand-color, $lightness: -25%) !important;
$lm-link-visited-color: color.adjust($lm-link-base-color, $lightness: -15%) !important;
$lm-border-color-02: color.adjust($lm-brand-color, $lightness: 35%) !important;
$lm-table-text-color: color.adjust($lm-text-color, $lightness: 18%) !important;
$lm-table-zebra-color: color.adjust($lm-brand-color, $lightness: 46%) !important;
$lm-table-header-bg-color: color.adjust($lm-brand-color, $lightness: 43%) !important;
$lm-table-header-border: color.adjust($lm-brand-color, $lightness: 37%) !important;
