// assets/css/_base.scss

body {
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper-max-width;
  padding: $wrapper-padding;
}

// Highlighter Rouge Overrides
.highlighter-rouge {
  .highlight pre {
    background: $code-background;
  }
  pre,
  code {
    background: $code-background;
  }
}