// assets/css/_variables.scss

// Color Variables
$primary-color: #00fcbb;
$secondary-color: #66d9ef;
$text-color: #cacaca;
$background-color: #141414;
$header-background: #141414;
$link-color: #00f;
$border-color: #cacaca;

// Table Colors
$header-color: #000040;
$odd-row-color: darken($header-color, 5%);
$even-row-color: lighten($header-color, 2%);

// Dimensions
$brand-graphic-width: 45px;
$brand-graphic-margin-right: 20px;
$wrapper-max-width: 900px;
$wrapper-padding: 20px;

// Font Sizes
$h3-font-size: 1.5rem;
$post-date-font-size: 0.9rem;
$btn-font-size: 0.9rem;
$project-details-h2-font-size: 1.6rem;

// Other Variables
$code-background: #000000;