---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'solarized' }}",
  "minima/initialize";

// Dark mode overrides
@media (prefers-color-scheme: dark) {
  @import "mineokai";
  body {
    color: #cacaca !important;
    background-color: #141414 !important;
  }

  .header {
    color: #cacaca !important;
    background: #141414 !important;
  }
  .site-title {
    color: #cacaca !important;
    background: #141414 !important;
  }

  blockquote {
    color: #60c0ee !important;
    background: #000000;
    border-left-color: #5592b4;
  }

  table {  
    $header-color: #000040;
    $odd-row-color: darken($header-color, 5%);
    $even-row-color: lighten($header-color, 2%);
    $border-color: #cacaca;

    border: 1px solid $border-color;

    th {
      background-color: $header-color !important;
      border: 1px solid $border-color;
      font-weight: bold !important;
      padding: 12px;
    }

    tr {
      border: 1px; /* Use the border color variable */
    }

    // All cells have borders initially
    td {
      border: 1px solid $border-color;
      padding: 12px;
    }

    // Odd row background color (for the odd country group and services)
    .odd td {
      background-color: $odd-row-color;
    }

    // Even row background color (for the even country group and services)
    .even td {
      background-color: $even-row-color;
    }

    // Remove top and bottom border for empty cells
    td:empty {
      border-top: none;
      border-bottom: none;
    }

    // Remove bottom border for the first cell in the group (countries)
    td:first-child {
      border-bottom: none;
    }

    // Add bottom border to the last non-empty cell in the group in the first column
    tr:last-of-type td:first-child:not(:empty) {
      border-bottom: 1px; /* Use the border color variable */
    }
}

    pre,
    code {
      background: #000000;
    }

  // Custom wrapper styling
.wrapper {
  margin-left: 80px auto; /* Adds 40px margin to the top and bottom, auto centers horizontally */
  margin-right: 80px auto; /* Adds 40px margin to the top and bottom, auto centers horizontally */
  max-width: 1000px; /* The maximum width of the wrapper */
  padding: 20px; /* Optional: Add padding for better spacing */
}


// Custom CSS for brand graphic
.brand-graphic {
  width: 45px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Increased space between the graphic and the company name */
  vertical-align: middle; /* Align vertically with text */
}

  .highlighter-rouge {
    .highlight pre {
      background: #000000;
    }
    pre,
    code {
      background: #000000;
    }
  }
}

#obfuscated-email a {
  color: #0000CC;
  text-decoration: underline;
}
#contact-link {
  cursor: pointer;
}